.callBoxContainer {
  background-color: black;
  // border: 1px solid red;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  position: relative;
}

@media (max-width: 768px) {
  .callBoxContainer {
    overflow-y: scroll;
  }
}
