@import "src/Scss_Variable.scss";

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: antiquewhite;
  .homeWrapper {
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: aliceblue;
    // background-color: antiquewhite;

    .homeHeader {
      // background-color: aqua;
      p {
        margin: 0;
        padding: 0;
        // font-family: 'Inter';
        font-size: 4rem;
        // font-weight: 900;
        font-style: italic;
        color: $ZoomPrimaryColor;
      }
    }
    .homeBtns {
      // background-color: aquamarine;
      display: flex;
      flex-direction: column;
      .homeBtn {
        cursor: pointer;
        padding: 0.65rem 4.5rem 0.65rem 4.5rem;
        font-weight: 700;
        border: none;
        border-radius: 0.4rem;
        transition: all ease-in-out 450ms;
        margin: 1rem;
      }
      .homeJoinBtn {
        &:hover {
          background-color: $ZoomWhite;
          color: black;
        }
        border: 1px solid rgba(0, 0, 0, 0.342);
        color: $ZoomWhite;
        background-color: $ZoomPrimaryColor;
      }
      .homeCallBtn {
        &:hover {
          background-color: $ZoomPrimaryColor;
          color: white;
        }
        border: 1px solid rgba(0, 0, 0, 0.342);
        background-color: $ZoomWhite;
      }
    }
  }
}
