@import "src/Scss_Variable.scss";

.onCallContainer {
  background-color: black;
  // border: 1px solid white;
  padding: 1rem;
  // border-right: 1px solid white;
  // border-left: 1px solid white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  .onCallWrapper {
    .videoSection {
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      #localVideo {
        margin: 1rem;
        border-color: gray;
        border-radius: 10px;
        box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.33);
      }
      #remoteVideo {
        border-color: gray;
        border-radius: 10px;
        box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.33);
      }

      .videoTags {
        // overflow: hidden;

        width: 30vw;
        border: 1px solid $ZoomOffBlack;
      }
    }
  }
}

@media (max-width: 768px) {
  .videoSection {
    flex-direction: column;
    // border: 1px solid white;
    width: 100vw;
    .videoTags {
      // overflow: hidden;
      width: 90% !important;
      border: 1px solid $ZoomOffBlack;
    }
  }
}
